
 body {
    font-family: Helvetica;
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
 }


 #navbar {
     background-color: brown;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 4.5rem;
     z-index: 1;
 }

 #navbar .navbar-link-container ul li {
     display: inline-block;
     margin-right: 2.3rem;
     list-style: none;
 }

 #navbar .navbar-link-container a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

 .row {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 #welcome-section {
     margin-top: 4.5rem;
     height: 100%;
     color: cornsilk;
     background-color: #000;
 }

 #welcome-section h1 {
     color: #fff;

 }


  @media (max-width: 576px){
     body {
        background-color: burlywood;
   }
}




/* @media (max-width: 576px){
    body {
        background-color: burlywood;
    }
} */